body {
    margin: 0;
    padding: 5px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: white;
}

#setup, #operate {
    width: 460px;
    margin: 5px 0px;
    padding: 6px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#hotkeyInterface {
    width: 460px;
    height: 192px;
    padding: 6px;
    background: white;
    z-index: 10000;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.section {
    width: 180px;
    margin: 0 24px;
}

#keyList li, #clearSelectionButton, #sendKeysButton, #fullScreenButton, #captureButton {
    list-style: none; /* Remove default list style */
    padding: 10px; /* Padding inside each 'button' */
    margin: 5px; /* Margin between buttons */
    background-color: #f0f0f0; /* Slightly grey background */
    border: 0.5px solid #ccc; /* Grey border */
    border-radius: 4px; /* Rounded corners */
    text-align: center; /* Center text horizontally */
    cursor: pointer; /* Pointer cursor on hover */
    box-sizing: border-box; /* Include padding and border in the width */
    display: inline-block; /* Allows items to sit side by side */
    font-size: 12px;
}

#keyList li, #clearSelectionButton, #sendKeysButton {
    width: 76px;
    height: 36px;
}

#clearSelectionButton, #sendKeysButton {
    display: inline-block;
}

#keyList {
    margin: 12px 0px;
    padding: 0; /* Remove padding from the list */
    width: 100%; /* Ensure the list takes full width of its container */
}

#selectedKeys {
    height: 72px;
}

#hotkeyInterface h3 {
    padding: 5px 6px;
    margin: 0;
}

#messageArea {
    margin-top: 20px;
    color: red;
}
